:root {
    --callout-note: 68, 138, 255;
    --callout-abstract: 0, 176, 255;
    --callout-info: 0, 184, 212;
    --callout-tip: 0, 191, 165;
    --callout-success: 0, 200, 83;
    --callout-question: 100, 221, 23;
    --callout-warning: 255, 145, 0;
    --callout-failure: 255, 82, 82;
    --callout-danger: 255, 23, 68;
    --callout-bug: 245, 0, 87;
    --callout-example: 124, 77, 255;
    --callout-quote: 158, 158, 158;
    --callout-radius: 0px;
    --callout-border-opacity: 0.5;
    --callout-title-bg-opacity: 0.08;
}

.callout-fold::before {
    align-self: center;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}

.callout-fold {
    transform: rotate(-90deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
    display:  flex;
}

.custom-callout {
    border-left-width: 3px;
    border-style: solid;
    border-radius: var(--callout-radius);
    margin: 1rem 0;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1),0 1px 2px -1px rgb(0 0 0/0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.custom-callout[open]>summary>.callout-fold {
    transform: rotate(0deg);
}

.custom-callout>summary {
    padding: 1rem;
    margin: 0;
    border-top-left-radius: var(--callout-radius);
    border-top-right-radius: var(--callout-radius);
    cursor: pointer;
}

.custom-callout>summary::marker {
    content: '';
}

.custom-callout>summary::before {
    margin-right: 0.5rem;
}

.custom-callout>summary::-webkit-details-marker {
    display: none;
}

.callout-title {
    /* font-weight: 700; */
    display: flex;
    justify-content: space-between;
}


.custom-callout>blockquote {
    position: relative;
    color: var(--prism-foreground);
    border-left: none;
    margin: 0 !important;
    background: rgba(0,0,0,0) !important;
}

.custom-callout>blockquote>p {
    color: var(--prism-foreground);
    margin: 8px 0;
}

.custom-callout>blockquote>pre {
    margin: 1.25rem -1rem 1.25rem -1rem;
}

.custom-callout>blockquote>pre:first-child {
    margin-top: -0.75rem;
}

.custom-callout>blockquote>pre:last-child {
    margin-bottom: -0.75rem;
}

.custom-callout.note,
.custom-callout.seealso {
    border-color: rgba(var(--callout-note), var(--callout-border-opacity));
}

.custom-callout.note>summary,
.custom-callout.seealso>summary {
    background-color: rgba(var(--callout-note), var(--callout-title-bg-opacity));
}

.custom-callout.abstract,
.custom-callout.summary,
.custom-callout.tldr {
    border-color: rgba(var(--callout-abstract), var(--callout-border-opacity));
}

.custom-callout.abstract>summary,
.custom-callout.summary>summary,
.custom-callout.tldr>summary {
    background-color: rgba(var(--callout-abstract), var(--callout-title-bg-opacity));

}

.custom-callout.info,
.custom-callout.todo {
    border-color: rgba(var(--callout-info), var(--callout-border-opacity));

}

.custom-callout.info>summary,
.custom-callout.todo>summary {
    background-color: rgba(var(--callout-info), var(--callout-title-bg-opacity));

}

.custom-callout.tip,
.custom-callout.hint,
.custom-callout.important {
    border-color: rgba(var(--callout-tip), var(--callout-border-opacity));

}

.custom-callout.tip>summary,
.custom-callout.hint>summary,
.custom-callout.important>summary {
    background-color: rgba(var(--callout-tip), var(--callout-title-bg-opacity));

}

.custom-callout.success,
.custom-callout.check,
.custom-callout.done {
    border-color: rgba(var(--callout-success), var(--callout-border-opacity));
}

.custom-callout.success>summary,
.custom-callout.check>summary,
.custom-callout.done>summary {
    background-color: rgba(var(--callout-success), var(--callout-title-bg-opacity));

}

.custom-callout.question,
.custom-callout.help,
.custom-callout.faq {
    border-color: rgba(var(--callout-question), var(--callout-border-opacity));
}

.custom-callout.question>summary,
.custom-callout.help>summary,
.custom-callout.faq>summary {
    background-color: rgba(var(--callout-question), var(--callout-title-bg-opacity));
}

.custom-callout.warning,
.custom-callout.caution,
.custom-callout.attention {
    border-color: rgba(var(--callout-warning), var(--callout-border-opacity));
}

.custom-callout.warning>summary,
.custom-callout.caution>summary,
.custom-callout.attention>summary {
    background-color: rgba(var(--callout-warning), var(--callout-title-bg-opacity));
}

.custom-callout.failure,
.custom-callout.fail,
.custom-callout.missing {
    border-color: rgba(var(--callout-failure), var(--callout-border-opacity));
}

.custom-callout.failure>summary,
.custom-callout.fail>summary,
.custom-callout.missing>summary {
    background-color: rgba(var(--callout-failure), var(--callout-title-bg-opacity));

}

.custom-callout.danger,
.custom-callout.error {
    border-color: rgba(var(--callout-danger), var(--callout-border-opacity));
}

.custom-callout.danger>summary,
.custom-callout.error>summary {
    background-color: rgba(var(--callout-danger), var(--callout-title-bg-opacity));
}

.custom-callout.bug {
    border-color: rgba(var(--callout-bug), var(--callout-border-opacity));

}

.custom-callout.bug>summary {
    background-color: rgba(var(--callout-bug), var(--callout-title-bg-opacity));
}

.custom-callout.example {
    border-color: rgba(var(--callout-example), var(--callout-border-opacity));
}

.custom-callout.example>summary {
    background-color: rgba(var(--callout-example), var(--callout-title-bg-opacity));
}

.custom-callout.quote,
.custom-callout.cite {
    border-color: rgba(var(--callout-quote), var(--callout-border-opacity));
}

.custom-callout.quote>summary,
.custom-callout.cite>summary {
    background-color: rgba(var(--callout-quote), var(--callout-title-bg-opacity));
}
